[package]
name = "hyle-amm"
description = "Hyli Smart Contract"
license = "MIT"
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
rust-version = "1.81"

[[bin]]
name = "amm"
path = "src/main.rs"
required-features = ["risc0"]
test = false

[dependencies]
sdk = { workspace = true }
hyllar = { workspace = true }
serde = { version = "1.0", default-features = false, features = [
  "derive",
  "alloc",
] }
anyhow = "1.0.98"
borsh = { version = "1.5.6", features = ["derive"] }

risc0-zkvm = { version = "2.0.2", default-features = false, optional = true, features = [
  'std',
] }
client-sdk = { workspace = true, features = ["risc0"], optional = true }

[features]
default = []
client = ["dep:client-sdk"]
risc0 = ["dep:risc0-zkvm", "sdk/risc0"]

[package.metadata.docs.rs]
features = ["client"]
