Config(
    id: "node-master",
    port: 1234,
    host: "127.0.0.1",
    peers: [], // master knows no peers at start
    storage: Storage(
      interval: 10
    ),
    rest: "127.0.0.1:4321",
    history_db: "master_history.db",
  p2p: (
    ping_interval: 10
  )
)
