Config(
    id: "node-slave-1",
    port: 1235,
    host: "127.0.0.1",
    peers: [
        "127.0.0.1:1234",
    ],
    storage: Storage(
      interval: 10
    ),
    rest: "127.0.0.1:4322",
    history_db: "slave_history.db",
  p2p: (
    ping_interval: 10
  )
)
