[package]
name = "hyle-staking"
description = "Hyli Smart Contract"
license-file = { workspace = true }
version = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
rust-version = "1.81"

[[bin]]
name = "staking"
path = "src/main.rs"
required-features = ["risc0"]
test = false

[dependencies]
sdk = { workspace = true, features = ["full-model"] }
hyllar = { workspace = true }
serde = { version = "1.0", default-features = false, features = [
  "derive",
  "alloc",
] }
anyhow = "1.0.98"
sha2 = "=0.10.8" # precompile patched at workspace root
borsh = { version = "1.5.6", features = ["derive"] }

risc0-zkvm = { version = "2.0.2", default-features = false, optional = true, features = [
  'std',
] }
client-sdk = { workspace = true, default-features = false, features = [
  "risc0",
], optional = true }

[dev-dependencies]
risc0-zkvm = { version = "2.0.2", default-features = false, features = [
  'std',
  'prove',
] }

[features]
default = []
client = ["dep:client-sdk"]
risc0 = ["dep:risc0-zkvm", "sdk/risc0"]
