[package]
name = "hydentity"
version = { workspace = true }
edition = { workspace = true }
# license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
rust-version = "1.81"

[[bin]]
name = "hydentity"
required-features = ["risc0"]
test = false

[[example]]
name = "hydentity-runner"
path = "examples/host.rs"

[dependencies]
sdk = { path = "../../contract-sdk", package = "hyle-contract-sdk" }
serde_json = "1.0"
serde = { version = "1.0", default-features = false, features = [
    "derive",
    "alloc",
] }
anyhow = "1.0.95"
sha2 = { git = "https://github.com/risc0/RustCrypto-hashes", tag = "sha2-v0.10.8" }
bincode = { version = "2.0.0-rc.3" }
hex = "0.4.3"

risc0-zkvm = { version = "1.2.1", default-features = false, optional = true, features = [
    'std',
] }
client_sdk = { path = "../../client-sdk", package = "client-sdk", features = [
    "risc0",
], optional = true }

[dev-dependencies]
# Activate client in examples.
sdk = { path = "../../contract-sdk", features = ["full-model"], package = "hyle-contract-sdk" }
hydentity = { path = ".", features = ["client"] }
client_sdk = { path = "../../client-sdk", package = "client-sdk", features = ["risc0", "rest"] }

clap = { version = "4.5", features = ["derive"] }
tokio = { version = "1.42.0", features = ["full", "tracing"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[features]
default = []
client = ["dep:client_sdk"]
risc0 = ["dep:risc0-zkvm", "sdk/risc0"]
