Config(
  id: "node-2",
  host: "127.0.0.1:1232",
  peers: ["127.0.0.1:1231"],
  storage: Storage(
    interval: 10
  ),
  log_format: "full",
  rest: "127.0.0.1:4322",
  data_directory: "data_node2",
  database_url: "postgres://postgres:postgres@localhost:5433/postgres",
  consensus: Consensus (
    slot_duration: 2000,
    genesis_stakers: {"node-1": 100, "node-2": 100}
  ),
  p2p: (
    ping_interval: 10
  ),
  run_indexer: false,
  da_address: "127.0.0.1:4142"
)
