Config(
  id: "data_node_single",
  host: "127.0.0.1:1231",
  peers: [],
  storage: Storage(
    interval: 10
  ),
  log_format: "full",
  rest: "127.0.0.1:4321",
  data_directory: "data_node_single",
  database_url: "postgres://postgres:postgres@localhost:5432/postgres",
  consensus: Consensus (
    slot_duration: 2000,
  ),
  p2p: (
    ping_interval: 10
  ),
  run_indexer: true,
  da_address: "127.0.0.1:4141",
  single_node: true
)
