[package]
name = "hyle-verifiers"
description = "Hyle verifiers"
version = { workspace = true }
edition = { workspace = true }
# license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }

[dependencies]
hyle-model = { workspace = true }

anyhow = "1.0.96"
borsh = "1.5.6"
serde_json = "1.0.140"
rand = { version = "0.9" }
risc0-zkvm = { version = "1.2.4", default-features = false, features = ["std"] }
tracing = "0.1"

sp1-sdk = { version = "4.1.3", default-features = false, optional = true }
bincode = {version = "1.3.3", optional = true}

[dev-dependencies]
test-log = { version = "0.2.17", features = [
    "color",
    "trace",
], default-features = false }

[features]
default = []
sp1 = ["dep:sp1-sdk", "dep:bincode"]
