name: "clippy"

on:
  pull_request:
    paths: ["**/*.rs"]

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  clippy:
    name: clippy check
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # For keyring dependencies
      - run: sudo apt install libdbus-1-dev pkg-config
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy, rustfmt
          override: true
      - uses: LoliGothick/clippy-check@master
        with:
          deny: warnings
          token: ${{ secrets.GITHUB_TOKEN }}
          options: "--all-targets --all-features"
      - name: Run rustfmt
        run: cargo fmt --all -- --check
      - name: Run cargo check
        run: cargo check --workspace
